@model IEnumerable<NorthWind.Models.NorthWIndViewModels.EmployeeDepartmentGroup>

@{
    ViewData["Title"] = "Employee's by Department";
}
<h2>@ViewData["Title"].</h2>

<table>
    <tr>
        <th>
            Department
        </th>
        <th>
            Employee Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @item.EmployeeCount
            </td>
        </tr>

    }
</table>
